<%- typeof intro !== 'undefined' ? intro : '' %>
<% if (typeof form !== 'undefined' && form) { %><article class="card"><%- form %></article><% } %>
<% if (typeof table !== 'undefined' && table) { %><article class="card"><div class="table-wrap"><%- table %></div></article><% } %>
